<div class="gf-form-inline">
  <div class="gf-form gf-form--grow">
    <label class="gf-form-label query-keyword width-7">Query</label>
    <input
      class="gf-form-input"
      ng-blur="queryctrl.refresh()"
      ng-model="target.sourceQuery.query"
      placeholder="Lucene query"
      spellcheck="false"
      type="text"
    />
  </div>
  <div class="gf-form max-width-15">
    <label class="gf-form-label query-keyword">Alias</label>
    <input
      class="gf-form-input"
      ng-blur="queryctrl.refresh()"
      ng-model="target.sourceQuery.alias"
      placeholder="alias patterns"
      spellcheck="false"
      type="text"
    />
  </div>
</div>

<div ng-repeat="agg in target.sourceQuery.metrics">
  <event-metric-agg
    get-fields="getFields($fieldType)"
    index="$index"
    on-change="queryUpdated()"
    target="target.sourceQuery"
  >
  </event-metric-agg>
</div>

<div ng-repeat="agg in target.sourceQuery.bucketAggs">
  <event-bucket-agg
    get-fields="getFields($fieldType)"
    index="$index"
    on-change="queryUpdated()"
    target="target.sourceQuery"
  >
  </event-bucket-agg>
</div>
