<div class="gf-form-inline" ng-class="{'gf-form-disabled': remedyForm.hideForm}">
  <div class="gf-form">
    <label class="gf-form-label query-keyword width-7">
      Form
      <a bs-tooltip="'Click to toggle show / hide metric'" ng-click="toggleShowFormQuery()" style="margin-top: 2px;"
        ng-if="false">
        <icon name="'eye'" ng-hide="remedyForm.hideForm" size="'sm'"></icon>
        <icon name="'eye-slash'" ng-show="remedyForm.hideForm" size="'sm'"></icon>
      </a>
    </label>
  </div>

  <div class="gf-form">
    <div class="gf-form" ng-if="false && inputValue.sourceType">
      <label class="dropdown" dropdown-typeahead2="inputAutoComplete.sourceType"
        dropdown-typeahead-on-select="addFormTypeMenu($item, $subItem)" button-template-class="gf-form-label">
      </label>
      <label class="gf-form-label query-keyword">
        {{inputValue.sourceType}}
      </label>
    </div>
    <metric-segment-model css-class="width-{inputValue.sourceType.length}" custom="false" on-change="onFormTypeChange()"
      options="inputAutoComplete.sourceType" index="$index" property="inputValue.sourceType"></metric-segment-model>

    <metric-segment-model css-class="width-{inputValue.sourceFormName.length}" custom="false"
      on-change="onFormNameChange()" options="inputAutoComplete.sourceFormName" index="$index"
      property="inputValue.sourceFormName"></metric-segment-model>

    <!-- Support: Form Alias -->
    <div class="gf-form" ng-if="inputValue.sourceAlias && false">
      <label class="gf-form-label query-keyword">
        Alias
      </label>
      <label class="gf-form-label query-keyword">
        {{inputValue.sourceAlias}}
      </label>
      <!--
        <metric-segment-model css-class="width-{inputValue.sourceAlias.length}" custom="false"
        on-change="onFormAliasChange()" options="inputAutoComplete.sourceAlias" index="$index"
        property="inputValue.sourceAlias">
      </metric-segment-model>
    -->
    </div>
  </div>
  <div class="gf-form" ng-if="inputValue.sourceHideClause">
    <label class="gf-form-label">
      <a ng-click="toggleClause()" class="gf-form-label">
        Join Clause
        <icon name="'angle-right'" ng-show="showClause"></icon>
        <icon name="'angle-down'" ng-hide="showClause"></icon>
      </a>
    </label>
  </div>
  <div class="gf-form gf-form--grow">
    <label class="gf-form-label gf-form-label--grow">
      <!---->
    </label>
  </div>
  <div class="gf-form">
    <label class="gf-form-label" ng-if="!isSingle">
      <a class="pointer" ng-click="removeRemedyForm()">
        <icon name="'minus'"></icon>
      </a>
    </label>
    <label class="gf-form-label" ng-if="isFirst">
      <a class="pointer" ng-click="addRemedyForm()">
        <icon name="'plus'"></icon>
      </a>
    </label>
  </div>
</div>
<div ng-class="{'gf-form-disabled': remedyForm.hide}" class="gf-form offset-width-7"
  ng-repeat="joinClause in inputValue.sourceJoinClause" ng-if="inputValue.sourceHideClause && showClause">
  <label class="gf-form-label width-{joinClause.relationalOperator.length}">{{joinClause.leftOperand.fieldType}}</label>
  <metric-segment-model css-class="width-{joinClause.leftOperand.fieldName.length}" custom="false"
    on-change="onFirstClauseColumnChange()" options="inputAutoComplete.joinColumnName" index="$index"
    property="joinClause.leftOperand.fieldName">
  </metric-segment-model>
  <metric-segment-model css-class="width-{joinClause.relationalOperator.length}" custom="false"
    on-change="onRelationalOperatorChange()" options="inputAutoComplete.relationalOperator" index="index"
    property="joinClause.relationalOperator">
  </metric-segment-model>
  <metric-segment-model css-class="width-{joinClause.rightOperand.fieldName.length}" custom="false"
    on-change="onSecondClauseColumnChange()" options="inputAutoComplete.joinColumnName" index="$index"
    property="joinClause.rightOperand.fieldName"></metric-segment-model>
  <div class="gf-form gf-form--grow">
    <label class="gf-form-label gf-form-label--grow">
      <!---->
    </label>
  </div>
</div>
